x-depends_on_search_engine: &default-depends_on_search_engine
  "search-engine":
    condition: service_healthy

services:
  php-fpm-app:
    depends_on:
      <<: *default-depends_on_search_engine

  install:
    depends_on:
      <<: *default-depends_on_search_engine

  install-test:
    depends_on:
      <<: *default-depends_on_search_engine

  functional:
    depends_on:
      <<: *default-depends_on_search_engine

  behat-init:
    depends_on:
      <<: *default-depends_on_search_engine

  behat:
    depends_on:
      <<: *default-depends_on_search_engine

  restore:
    depends_on:
      <<: *default-depends_on_search_engine

  restore-test:
    depends_on:
      <<: *default-depends_on_search_engine

  update:
    depends_on:
      <<: *default-depends_on_search_engine

  update-test:
    depends_on:
      <<: *default-depends_on_search_engine

  warmup-cache:
    depends_on:
      <<: *default-depends_on_search_engine

  search-engine:
    image: ${ORO_PROJECT}elasticsearch:${ORO_ES_VER}
    command: bin/elasticsearch -Eingest.geoip.downloader.enabled=false
    environment:
      discovery.type: "single-node"
      cluster.name: docker-cluster
      bootstrap.memory_lock: "true"
      network.host: 0.0.0.0
      path.repo: "/tmp"
      ES_JAVA_OPTS: -Xms512m -Xmx512m
      xpack.security.enabled: false
      xpack.security.http.ssl.enabled: false
      xpack.security.transport.ssl.enabled: false
      cluster.routing.allocation.disk.threshold_enabled: false
    labels:
      com.symfony.server.service-prefix: ORO_SEARCH
    healthcheck:
      test: "curl -sfL 'http://127.0.0.1:9200/_cluster/health?pretty&wait_for_status=yellow&timeout=5s'"
      start_period: 120s
    restart: unless-stopped
